body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.logo {
    background-color: #0D122B;
    padding: 10px;
    color: white;
    text-align: center;
}

h1.a {
    text-align: center;
}